.git
.github
.env
.editorconfig
.styleci.yml
vendor/
node_modules/
storage/.key
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests/
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
docker-compose.yml
